### Q1

Name the four built-in data structures in python. Give one examples for each

In [ ]:
List

In [ ]:
sets

In [ ]:
tuples

In [ ]:
dictionaries

### Q2

State two differences between a list and a tuple in Python.

In [ ]:
tuples unchangeable whiles list changeable.

In [ ]:
Lists are used to store multiple items in a single variable whiles tuple are used to store multiple items in a single variable.

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [3]:
animal_list = ["Dog", "Rat", "Cat", "Mouse", "Cow"]

In [4]:
animal_list[3:5]

['Mouse', 'Cow']

In [5]:
animal_list.append("Lion")
animal_list.append("Rabbit")
animal_list.append("Monkey")

In [6]:
animal_list.remove("Dog")
animal_list.remove("Rat")

In [7]:
len(animal_list)

6

In [9]:
animal_set = set(animal_list)

In [10]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [13]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

In [15]:
first = suitcase[0:2]
first

['sunglasses', 'hat']

In [17]:
middle = suitcase[2:4]
middle

['passport', 'laptop']

In [20]:
 last =suitcase[4:6]
 last

['suit', 'shoes']

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [28]:
values = [20,25,30,40,45,50,55,60,65,70]

In [29]:
values.insert(3,35)
values

[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?

In [ ]:
When i am storing multiple items in a single variable.

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [33]:
region_capital = {"Greater Accra" : "Accra", 
                  "Northern" : "Tamale", 
                  "Volta" : "Ho",
                 "Ashanti":"Kumasi",
                 "Central" : "Cape Coast"}

In [34]:
region_capital.keys()

dict_keys(['Greater Accra', 'Northern', 'Volta', 'Ashanti', 'Central'])

In [35]:
region_capital.values()

dict_values(['Accra', 'Tamale', 'Ho', 'Kumasi', 'Cape Coast'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [52]:
 values = [3,3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]

In [53]:
sum(values)

62

In [61]:
freq_num = {}

for num in values:
    if num in freq_num:
        freq_num[num] += 1
    else:
        freq_num[num] = 1
        
max_num =max(freq_num.values())
print("Mode",max_num )

Mode 4

In [39]:
values_set = set(values)

In [42]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [48]:
dictionary ={}
for k in range(1,16):
    dictionary[k] = k ** 2
dictionary

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [63]:
num_values = {'x': list(range(11,21)), 'y': list(range(21,31)), 'z': list(range(31,41))}
x_fifth_value = num_values['x'][4]
y_fifth_value = num_values['y'][4]
z_fifth_value = num_values['z'][4]
print(x_fifth_value)
print(y_fifth_value)
print(z_fifth_value)

15
25
35